PORT=5001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ticket_pass?schema=public"
SECRET_SEP10_SIGNING_SEED="S..."
SECRET_SEP10_JWT_SECRET="super-secret-jwt-key-change-this-in-production"
SPONSOR_SECRET_KEY="S..."
